<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acer.pos_user">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash_screen"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- user login module -->
        <activity
            android:name=".user_login.user_login"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- user register module -->
        <activity
            android:name=".user_register.user_register"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- user_register username and password -->
        <activity
            android:name=".user_register.user_register_username_password_data"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- user main View -->
        <activity
            android:name=".user_mainView.user_mainView"
            android:label="@string/title_activity_user_main_view"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- order shop main -->
        <activity
            android:name=".user_mainView.fragment.order.order_shop_main.order_shop_main"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- order shop checkout -->
        <activity
            android:name=".user_mainView.fragment.order.order_shop_checkout.order_shop_checkout"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- generated history -->
        <activity
            android:name=".user_mainView.fragment.order_history.generated_history.generated_history"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- generated history details -->
        <activity android:name=".user_mainView.fragment.order_history.generated_history.generated_history_order_details.generated_history_order_details"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.Fullscreen"
            ></activity>
    </application>

</manifest>