<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.acer.servicebookingsystem">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- BACKGROUND SERVICES -->
        <service
            android:name=".background_services.background_services"
            android:exported="false" />

        <receiver android:name=".background_services.BootReceiver">
            <intent-filter>
                <action android:name="com.example.sample" />
                <action android:name="android:intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- splash screen -->
        <activity
            android:name=".splash_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- customer login module -->
        <activity
            android:name=".user_login_view.user_login_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- customer register module -->
        <activity
            android:name=".user_register_view.register_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- customer register a module -->
        <activity
            android:name=".user_register_view.register_view_a.register_upload_photos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- customer register b module -->
        <activity
            android:name=".user_register_view.register_view_b.register_view_b"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <!-- customer main fragment -->
        <activity
            android:name=".user_home_view.home_view"
            android:label="@string/title_activity_home_view"
            android:theme="@style/AppTheme" />

        <!-- company main fragment -->
        <activity
            android:name=".provider_home_view.provider_home_view"
            android:label="@string/title_activity_provider_home_view"
            android:theme="@style/AppTheme" />

        <!-- company service activity -->
        <activity
            android:name=".provider_home_view.menu_service.button_add_service.add_service"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


        <activity
            android:name=".user_home_view.menu_home.booking_confirmation.booking_confirmations"
            android:label="@string/title_activity_booking_confirmations" />

        <activity android:name=".user_home_view.menu_home.booking_details.booking_details"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>